In [3]:
import pandas as pd
import numpy as np

In [10]:
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/exercise.csv"
df = pd.read_csv(url,engine='python')

In [11]:
df.head()

   Unnamed: 0  id     diet  pulse    time  kind
0           0   1  low fat     85   1 min  rest
1           1   1  low fat     85  15 min  rest
2           2   1  low fat     88  30 min  rest
3           3   2  low fat     90   1 min  rest
4           4   2  low fat     92  15 min  rest

In [18]:
print('The shape: ',df.shape)
df.info
df.describe

The shape:  (90, 6)

<bound method NDFrame.describe of     Unnamed: 0  id     diet  pulse    time     kind
0            0   1  low fat     85   1 min     rest
1            1   1  low fat     85  15 min     rest
2            2   1  low fat     88  30 min     rest
3            3   2  low fat     90   1 min     rest
4            4   2  low fat     92  15 min     rest
..         ...  ..      ...    ...     ...      ...
85          85  29   no fat    135  15 min  running
86          86  29   no fat    130  30 min  running
87          87  30   no fat     99   1 min  running
88          88  30   no fat    111  15 min  running
89          89  30   no fat    150  30 min  running

[90 rows x 6 columns]>

In [19]:
#no. of null values:
print(df.isnull().sum())

Unnamed: 0    0
id            0
diet          0
pulse         0
time          0
kind          0
dtype: int64

TO CHANGE THE COLUMN NAMES:

In [20]:
df.columns

Index(['Unnamed: 0', 'id', 'diet', 'pulse', 'time', 'kind'], dtype='str')

In [21]:
df = df.rename(columns={
    'id': 'person_id'
})

In [22]:
df.head()

   Unnamed: 0  person_id     diet  pulse    time  kind
0           0          1  low fat     85   1 min  rest
1           1          1  low fat     85  15 min  rest
2           2          1  low fat     88  30 min  rest
3           3          2  low fat     90   1 min  rest
4           4          2  low fat     92  15 min  rest